<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<clear/>
		<add name="WebVideosConnectionString" connectionString="Data Source=ELIEZER-PC\SQLEXPRESSR2;Initial Catalog=WebVideos;Integrated Security=True;user id=sa;password=123"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime maxRequestLength="30000"/>
		<authentication mode="Forms"/>
		<membership defaultProvider="AspNetSqlMemberShipProvider">
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WebVideosConnectionString"/>
			</providers>
		</membership>
	</system.web>
	<!-- acrescentei a informação ValidationSettings Unobtrusive para compilar sem erro
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings> -->
</configuration>
